<mat-card class="card">
  <mat-card-header>
    <mat-card-title>List of Event</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button routerLink="/Addevent" mat-raised-button color="success">
        Add new event
      </button>
    </div>
    <br>
    <div class="form-container">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
<!--          <ng-container matColumnDef="id">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>-->
<!--            <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
<!--            -->
<!--          </ng-container>-->

          <!-- Weight Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> title</th>
            <td mat-cell *matCellDef="let element"> {{element.titre}} </td>

          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> date</th>
            <td mat-cell *matCellDef="let element"> {{element.date | date:'longDate'}} </td>
          </ng-container>


          <ng-container matColumnDef="lieu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> lieu</th>
            <td mat-cell *matCellDef="let element"> {{element.lieu}} </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="member">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Member</th>
            <td mat-cell *matCellDef="let element"> {{element.membreDTO.nom}} </td>
          </ng-container>
          <ng-container matColumnDef="action" stickyEnd>
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [routerLink]="element.id+'/edit' " *ngIf="element.membreDTO.cin==authService.username()">
                <mat-icon> edit</mat-icon>
              </button>

              <button mat-icon-button color="warn" (click)="delete(element.id)" *ngIf="element.membreDTO.cin==authService.username()">
                <mat-icon> delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
