h1 {
  display: block;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 0;

}
.card{
  margin:50px;
}
.card-container {
  padding: 10px;
  color: black;
  width: 50%;
  margin-left: 9%;
  display: flex;
  justify-content: space-between;
}
table
{
  width: 100%;

}
.mat-success {
  background-color: green;
  color: #fff;
}
