<mat-card class="form-container">
  <a mat-list-item routerLink="/Tools">
    <span class="material-icons">arrow_back_ios</span>
  </a>
  <mat-card-header class="card-container">
    <mat-card-title>Tools Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <form [formGroup]="formtool" (ngSubmit)="ONSUB()">
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width" >
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="basicDatepicker"   formControlName="date" [max]="dateMaxDate"   >
            <mat-datepicker-toggle matSuffix [for]="basicDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #basicDatepicker ></mat-datepicker>

          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Name of source</mat-label>
            <input matInput formControlName="sourceName">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Link drive source for your tools</mat-label>
            <input type="url" pattern="https://.*" placeholder="https://example.com" matInput formControlName="source">
          </mat-form-field>
        </div>


        <mat-card-actions class="card-container">
          <button mat-raised-button color="primary" [disabled]="!formtool.valid" type="submit">Submit</button>
        </mat-card-actions>

      </form>
    </div>
  </mat-card-content>
</mat-card>

