<!--<app-member-list></app-member-list>-->
<app-sidebar></app-sidebar>

<!--<button routerLink="/members"> members</button>-->
<!--<button routerLink="/ADD"> form</button>-->
<router-outlet></router-outlet>



