<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
  >
    <mat-toolbar color="primary">Lab</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/Dashboard">
        <span class="material-icons">home</span>
        Dashboard
      </a>
      <a mat-list-item routerLink="/members">
        <span class="material-icons">
       account_circle
       </span>
        Member
      </a>
      <a mat-list-item routerLink="/Tools">
        <span class="material-icons">construction</span>Tools</a>
      <a mat-list-item routerLink="/article">
        <span class="material-icons">
        article
      </span>
        Articles</a>
      <a mat-list-item routerLink="/event">
        <span class="material-icons">event</span>
        Events
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" *ngIf="isLoggedIn$">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Laboratoire</span>
      <div fxFlex></div>

      <div class="toolbar-separator"></div>
      <button [matMenuTriggerFor]="userMenu" class="toolbar-button" mat-button>


        <div fxLayout="row" fxLayoutAlign="center center">
          <!--          <img class="avatar mr-0 mr-sm-16" [src]="user.photoURL">-->
          <mat-icon>account_circle</mat-icon>
          <span class="username mx-12" fxHide fxShow.gt-sm> <!--{{user.displayName}}-->   </span>
          <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
        </div>
      </button>

      <a class="nav-link">{{authService.loggedUser}}</a>
      <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
        <button *ngIf="authService.isloggedIn" mat-menu-item>
          <mat-icon>account_box</mat-icon>
          <span>Profile</span>
        </button>
        <button *ngIf="authService.isloggedIn" (click)="onLogout()" mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
