<!--<h1 mat-dialog-title>Are you sure ?</h1>-->
<!--<div mat-dialog-content>-->
<!--  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">-->
<!--    <input placeholder="{{action}} Name" matInput [(ngModel)]="local_data.name">-->
<!--  </mat-form-field>-->
<!--  <ng-template #elseTemplate>-->
<!--    Do you really want to remove <b>{{local_data.name}}</b>?-->
<!--  </ng-template>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--  <button mat-button (click)="doAction()" mat-flat-button color="warn">{{action}}</button>-->
<!--  <button mat-button (click)="closeDialog()" >Cancel</button>-->
<!--</div>-->
<h1 mat-dialog-title>Confirm action</h1>
<div mat-dialog-content>Are you sure to want remove this item ?</div>
<div mat-dialog-actions class="mt-15">
  <button mat-raised-button color="warn"
          [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
  <button mat-raised-button mat-dialog-close>No</button>
</div>
