<mat-card class="form-container">
  <a mat-list-item routerLink="/article">
    <span class="material-icons">arrow_back_ios</span>
  </a>
  <mat-card-header class="card-container">
    <mat-card-title>Article Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <form [formGroup]="formArticle" (ngSubmit)="ONSUB()">
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>type</mat-label>
            <input   matInput formControlName="type">
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>title</mat-label>
            <input matInput formControlName="titre">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>link</mat-label>
            <input type="url" pattern="https://.*" placeholder="https://example.com" matInput formControlName="lien">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width" >
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="basicDatepicker"   formControlName="date" [max]="dateMaxDate"   >
            <mat-datepicker-toggle matSuffix [for]="basicDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #basicDatepicker ></mat-datepicker>

          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="upload">
            <div>
              <mat-toolbar>
                <!-- Display files names -->
                <input matInput [(ngModel)]="fileAttr" [ngModelOptions]="{standalone: true}" readonly name="name"
                       required/>
                <!-- Browse Button -->
                <button mat-flat-button color="primary">Browse File</button>
              </mat-toolbar>
              <!-- Fetch selected filed on change -->
              <input
                formControlName="sourcepdf"
                type="file"
                #fileInput
                id="uploadFile"
                (change)="uploadFileEvt($event)"
                name="uploadimage"
                multiple="multiple"
                accept=".pdf"
              />
            </div>
          </mat-form-field>
        </div>
        <mat-card-actions class="card-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="!formArticle.valid">Submit</button>
        </mat-card-actions>

      </form>
    </div>
  </mat-card-content>
</mat-card>

