.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
mat-icon.mat-card-avatar {
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: white;
}
.form-container{
  margin-top: 5%;
  width: 20%;
  margin-left: 25px;
  padding: 10px;
}
mat-card-title{
  height: 40px;
  font-size: 40px;
  color: white;


}
mat-card-title{
  background-color:#337ab7!important;
  padding:5px !important;
}

.mat-card{
  background-color: #337ab7 !important;
  padding:20px !important;
}

.mat-card-content{
  padding:5px !important;
}
mat-card-subtitle{
  margin-left: 20%;
  font-size: 20px;

}
a:visited {
  color: gainsboro;
}
a:visited {
  color: gainsboro;
}

.row{
  display: flex;
}
