<mat-card class="form-container">
  <a mat-list-item routerLink="/event">
    <span class="material-icons">arrow_back_ios</span>
  </a>
  <mat-card-header class="card-container">
    <mat-card-title>Event Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <form [formGroup]="formEvent" (ngSubmit)="ONSUB()">

        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>title</mat-label>
            <input matInput formControlName="titre">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Place</mat-label>
            <input placeholder="Place" matInput formControlName="lieu">
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width" >
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="basicDatepicker" formControlName="date" [max]="dateMaxDate"   >
            <mat-datepicker-toggle matSuffix [for]="basicDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #basicDatepicker ></mat-datepicker>

          </mat-form-field>
        </div>
        <mat-card-actions class="card-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="!formEvent.valid">Submit</button>
        </mat-card-actions>

      </form>
    </div>
  </mat-card-content>
</mat-card>

