<mat-card class="form-container">
  <a mat-list-item routerLink="/members">
    <span class="material-icons">arrow_back_ios</span>
  </a>
  <mat-card-header class="card-container">
    <mat-card-title>Profile Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <form [formGroup]="form" (ngSubmit)="ONSUB()">

        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Cin or passport number</mat-label>
            <input maxlength="9" matInput formControlName="cin"  >
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="nom" >
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="upload">
            <div>
              <mat-toolbar>
                <!-- Display files names -->
                <input matInput [(ngModel)]="fileAttr" [ngModelOptions]="{standalone: true}" readonly name="name"
                       required/>
                <!-- Browse Button -->
                <button mat-flat-button color="primary">Browse File</button>
              </mat-toolbar>
              <!-- Fetch selected filed on change -->
              <input
                formControlName="cv"
                type="file"
                #fileInput
                id="uploadFile"
                (change)="uploadFileEvt($event)"
                name="uploadimage"
                ngModel
                multiple="multiple"
                accept=".pdf"
              />
            </div>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>type</mat-label>
            <mat-select class="custom-select mb-3"  formControlName="role">
              <mat-option *ngFor="let role of roles" [value]="role.value">
                {{role.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="userPassword" >
          </mat-form-field>
        </div>

        <mat-card-actions class="card-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
        </mat-card-actions>

      </form>
    </div>
  </mat-card-content>
</mat-card>
